@charset "utf-8";
// If need, change your variables before importing Bulma

$offwhite: #fafafa;

$family-sans-serif: "Montserrat", sans-serif;

$family-primary: $family-sans-serif;

$navbar-burger-color: #ffffff;

$navbar-background-color: #030400;
$navbar-item-color: #ffffff;
$navbar-item-hover-color: #ffffff;
$navbar-item-hover-background-color: #03040000;
$navbar-item-active-color: #ffffff;
$navbar-item-active-background-color: #03040000;

h1.title {
  letter-spacing: 0.2em;
  font-weight: 400;
}

h2.title {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.subtitle {
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

.columns.is-gapless:not(:last-child) {
  margin-bottom: 0px !important;
}

.footer .content strong {
  color: white;
}

.main-text p {
  margin-bottom: 25px;
  line-height: 1.8em;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: #030400 !important;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.2em;
  }
  .navbar-menu :hover {
    background-color: #030400 !important;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.2em;
  }
}

a.navbar-item {
  color: antiquewhite;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  height: 100% !important;
}

.tabs ul {
  flex-wrap: wrap;
}

.back-button {
  position: absolute;
  color: white;
  font-size: 45px;
  z-index: 40;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
}

.left-fern {
  width: 30%;
}

.right-fern {
  width: 30%;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&display=swap");

@import "~bulma/bulma.sass";

@import "~animate.css/animate.min.css";
