@charset "utf-8";
// If need, change your variables before importing Bulma

$offwhite: #fafafa;

$family-sans-serif: "Nunito", sans-serif;

$family-primary: $family-sans-serif;

h1.title {
  letter-spacing: 0.5em;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "~bulma/bulma.sass";
